ul.tree a {
	background-image: url(../images/brokenlink-file.gif);
}

ul.tree a.nobroken {
	background-image: url(../images/page-file.gif) !important;	
}

#treepanes {
	position: relative;	
}

#startRunLoading {
	display: none;
	position: absolute;
	top: 3px;
	right: 5px;
}

#RunFields {
	margin-left: 0;	
}

#LinkCheckButton {
	display: block;
	border: 1px solid #aaa;
	background: #ddd;
	padding: 10px;
	margin: 5px;
	width: 13em;
}
	#LinkCheckButton:hover {
		background: #999;
		border: 1px solid #000;
		color: #fff;
	}